
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Exported from Figma">
  <title>Exported Figma Design</title>
  
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="desktop-1-1">
<img src="images/rectangle-2-2.png" class="rectangle-2-2" alt="rectangle-2" />
<div class="rectangle-1-3"></div>
<p class="text-4"><span class="text-white">[tnt]</span></p>
<p class="text-5"><span class="text-white">Coming [soon]</span></p>
<p class="text-6"><span class="text-white">(I suck at design so give me a bit, ok?)</span></p>
</div>

</body>
</html>
